body {
    margin: 0;
    background-color: rgba(34, 37, 49, 0.1);
}

/*-- All Elements of the APP is here --*/
#mainContainer {
  display: flex;
  flex-direction: column;
}

.nav_container{
    display: flex; /*Makes the text responsive and adjusts to the screen size*/
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #0D160B;
    border-bottom: 1px;
    border-bottom: 2px dotted;
    border-bottom: medium solid #FA824C;
}

.logo{
    display: flex; /*Makes the text responsive and adjusts to the screen size*/
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
    border-radius:10%;
    border:2px solid #FA824C;
}

.nav_title {
    display: flex; /*Makes the text responsive and adjusts to the screen size*/
    flex-direction: row;
    white-space: pre; /* Nav title will be split into the second line once the browser has been made smaller*/
}

.nav_header {
    display: flex; /*Makes the text responsive and adjusts to the screen size*/
    flex-direction: row;
    gap: 5px;
    flex: 3; /*-- This creates spaces -- */
}

.time_position { /* Adds this element into a row */
    display: flex; /*Makes the text responsive and adjusts to the screen size*/
    flex-direction: row;
    white-space: pre; /* Nav title will be split into the second line once the browser has been made smaller*/
    gap: 5px;
    margin-right: 15px;
}

.pandasparx_logo {
    margin-top: 4px;
    margin-right: 5px;
    border-radius:100%;
    border:2px solid #FA824C;
}

/*-- Main Title-- */
#title{
    text-align: center;
}

/*-- First Row --*/
#header {
  align-items: center;
}

#sub_title1 h3 {
  text-align: center;
  margin-left: 1.5rem;
}

#heading_title2 {
  text-align: center;
}

#heading_title3 {
  text-align: center;
}

.dcc_desc {
    margin: 0 auto;
    padding: 5px;
    width: calc(100%-40px);
}

.fix_label {
  font-size: 20px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.second_container {
  align-items: center;
  border-radius: 15px;
  background-color: #0D160B;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 1px 1px 1px 1px #FA824C;
}

.card_container {
  border-radius: 5px;
  background-color: #0D160B;
  margin: 16px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px #FA824C;
}


.footer_content{
    flex-direction: row;
    text-align: center;
    color: white;
    line-height: 2.3;
}

#footer{
    flex-direction: row;
    background: #0D160B;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px;
    border-top: 2px dotted;
    border-top: medium solid #FA824C;
}

.rc-slider-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #0D160B;
}

.rc-slider-dot-active {
  border-color: red;
  border: solid 2px #FA824C;
}

.rc-slider-handle {
  background-color: #FA824C;
  border-color: #FA824C;
}

.rc.slider-handle:hover {
  border-color: #FA824C;
}

.rc.slider-handle-active:active {
  border-color: #FA824C;
}


/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E7E7E7 !important;
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FA824C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffa982 !important;
}

